<template>
  <div id="app">
    <webview class="webview" end-point-url="" url="https://www.google.com" :quality="100"  />
  </div>
</template>

<script>
import Webview from 'vue-webview'

export default {
  name: 'App',
  components: {
    Webview
  }
}
</script>

<style>
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}
.webview{
 width: 100%;
  height: 100%;
}
</style>
